:root {

  


}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body{

  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 12rem auto;

}


nav{
  background: blue;
}



